/* Write your CSS here */
body {
  background-color: #ffc2a0;
  height: 100vh;
}

.bgContainer {
  padding: 80px 70px;
}

.innerContainer {
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.heading {
  color: #ff8542;
  font-family: Roboto;
}

.listContainer {
  padding-left: 0px;
  padding: 20px;
}
